<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Pay My Buddy</title>
</head>
<body>
<div class="middle">
    <form th:action="@{/login}" method="POST" class="form-signin" style="width:30%;margin:auto">
        <div><a class="navTitle" th:href="@{/}">PayMyBuddy</a></div>

        <br/>
        <div align="center" th:if="${param.error}">
            <p style="font-size: 20; color: #FF1C19;">Username or password is invalid</p>
        </div>

        <input type="text" id="username" name="username"  th:placeholder=" Email"
               class="form-control" /> <br/>
        <input type="password"  th:placeholder=' Password'
               id="password" name="password" class="form-control" /> <br/>

        <div><input type="checkbox" name="remember-me" />Remember Me</div>
        <a th:href="@{/register}">Créer un compte</a>
        <button class="add" name="Submit" value="Login" type="Submit" th:text="Login"></button>
    </form>
</div>
</body>
</html>