<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Mediscreen</title>
</head>
<body>
<div class="nav">
    <a th:href="@{/}">Home</a>
    <a th:href="@{/search}">search</a>
</div>
<div>
    <form th:object="${patient}" th:action="@{/editprofile}" method="post">
        <input type="text" name="email" th:value="*{email}" hidden>
        <label>prenom :</label>
        <input type="text" name="prenom" th:value="*{prenom}" required>
        <label>nom :</label>
        <input type="text" name="nom" th:value="*{nom}" required>
        <label>dob :</label>
        <input type="date" name="dob" th:value="${#dates.format(patient.dob, 'yyyy-MM-dd')}" required>
        <label>sex :</label>
        <input type="text" name="sex" th:value="*{sex}" required>
        <label>address :</label>
        <input type="text" name="address" th:value="*{address}" required>
        <label>phone :</label>
        <input type="text" name="phone" th:value="*{phone}" required>
        <label>Password :</label>
        <input type="text" name="pass" value="">
        <input type="submit" value="Edit">
    </form>

    <tbody>
    <tr th:each ="notes : ${notesList}">
        <form th:action="@{/editnotes}" method="post">
            <label>practitionnerNotesRecommandation :</label>
            <input type="text" name="practitionnerNotesRecommandation" th:value="${notes.practitionnerNotesRecommandation}" required>
            <label>modifiedAt :</label>
            <td th:text="${#dates.format(notes.modifiedAt, 'yyyy-MM-dd')}"></td>
            <label>createdAt :</label>
            <td th:text="${#dates.format(notes.createdAt, 'yyyy-MM-dd')}"></td>
            <input type="number" name="notesid" th:value="${notes.id}" hidden>
            <input type="number" name="patientid" th:value="${patient.id}" hidden>
            <td><button type="Submit" th:text="edit"></button></td>
        </form>
    </tr>
    </tbody>
</div>
</body>
</html>